<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - login</title>
</head>
<body>

<h1>login</h1>
<form action="/user/login" method="post">

    {{#if info}}<h3>info: {{info}}</h3>{{/if}}

    {{#if error}}<h3>error: {{error}}</h3>{{/if}}

    <label for="email">email</label><br>
    <input id="email" type="text" name="email" value="{{#if data.email}}{{data.email}}{{/if}}">
    {{#if errors.email}} ! {{errors.email.msg}}{{/if}}<br>

    <label for="password">password</label><br>
    <input id="password" type="password" name="password">
    {{#if errors.password}} ! {{errors.password.msg}}{{/if}}<br>

    <input type="submit" value="login">
</form>
</body>
</html>