<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - login</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Xi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    game
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/game/list">list</a>
                    <a class="dropdown-item" href="/game/new">new</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    user
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if loggedIn}}
                        <a class="dropdown-item" href="/user/rankings">rankings</a>
                        <a class="dropdown-item" href="/user/reset-request">reset password</a>
                        <a class="dropdown-item" href="/user/logout">logout</a>
                    {{else}}
                        <a class="dropdown-item" href="/user/login">login</a>
                        <a class="dropdown-item" href="/user/register">register</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            {{#if info}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{info}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}

            <form action="/user/login" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="email" name="email" value="{{#if data.email}}{{data.email}}{{/if}}">
                    {{#if errors.email}}<small class="warning">{{errors.email.msg}}</small>{{/if}}
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="password" name="password">
                    {{#if errors.password}}<small class="warning">{{errors.password.msg}}</small>{{/if}}
                </div>
                <button type="submit" class="btn btn-primary">login</button>
            </form>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/user/register">new user</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/reset-request">reset password</a>
                </li>
            </ul>

        </div>

        <div class="col-sm-4">
        </div>

    </div>
</div>
<script>
    $('.alert').alert();
</script>
</body>
</html>